
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DefineMe</title>
    <script src={{url_for('static', filename='jquery-1.10.1.min.js')}}></script>
    <script src={{url_for('static', filename='underscore-min.js')}}></script>
    <script src={{url_for('static', filename='backbone-min.js')}}></script>
    <script src={{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}></script>

    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',
                          filename='bootstrap/css/bootstrap-responsive.min.css')}}">

  </head>
  <body>
    {% for row in rows %}
        <div class="row-fluid">
            {% for item in row %}
                <div class="span3">
                    <a target="_blank" href="{{ item.href }}">
                        <img alt="{{ item.title }}"
                             src="{{ item.src }}"
                             title="{{ item.title }}"/>
                    </a>
                  <div>
                     <div style="text-align:center">
                         <div>
                             <a target="_blank" href="{{ item.desc_url }}">{{
                                 item.desc }}</a>
                             (see more <a target="_blank" href="{{
                                 item.desc_href }}">{{ item.desc_categ }}</a>)
                 </div>
             </div>
         </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
  </body>
</html>
